@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.cor1 {color: #f1ec40;}
.cor2 {color: #121212;}
.cor3 {color: #ffffff;}
.bg1 {background-color: #f1ec40;}
.bg2 {background-color: #121212;}
.bg3 {background-color: #ffffff;}
.fw1 {font-weight: 100;}
.fw2 {font-weight: 200;}
.fw3 {font-weight: 300;}
.fw4 {font-weight: 400;}
.fw5 {font-weight: 500;}
.fw6 {font-weight: 600;}
.fw7 {font-weight: 700;}
.fs1 {font-size: 1rem;}
.fs1-250 {font-size: 1.250rem;}
.fs1-5 {font-size: 1.500rem;}
.fs2 {font-size: 2rem;}
.fs3 {font-size: 3rem;}
.fs4 {font-size: 4rem;}
.fs5 {font-size: 5rem;}
.fs6 {font-size: 6rem;}

html {
    transition: all .3s;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    overflow-x: hidden;
}

a .to-top {
    background-color: #f1ec40;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #121212;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 2rem;
    pointer-events: auto;
    opacity: 1;
}

a {
    text-decoration: none;
    text-transform: none;
}

p, h1, h2, span {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

.animation-img {
    animation: img 2s both;
}

@keyframes img {
    from {
        transform: 
        translateY(-1500px)
        rotateY(360deg);
    }
    to {
        transform: 
        translateX(0)
        rotateY(0);
    }
}

.titulo-header {
    animation: go 3s both;
}

@keyframes go {
    from {
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

#rolagem {
    color: #f1ec40;
    font-size: 3rem;
    animation: go-back 1s infinite alternate;
}

@keyframes go-back {
    from {
      transform: translateY(-15px) rotateY(90deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotateY(0);
      opacity: 1;
    }
}

#introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../imagens/fundo-ff.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    gap: 1.5rem;
}

#introducao a button {
    padding: .5rem 1rem;
    transition: all .3s;
    border: 2px solid transparent;
}

#introducao a button:hover {
    border: 2px solid #ffffff;
    background-color: #121212;
    color: #ffffff;
}

/* fim estilização header */

#sobre {
    display: flex;
    justify-content: center;
    padding: 11rem 8rem 8rem 8rem;
}

#sobre-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 8rem 4rem 4rem;
    width: 28rem;
    height: 24rem;
}

#sobre-info h1 {
    margin-bottom: 1rem;
}

#sobre-info p {
    text-align: justify;
}

#sobre-imagem {
    position: relative;
    right: 80px;
    top: 50px;
    width: 450px;
    height: 418px;
    background: url(../imagens/sobreteste.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 8rem 4rem 8rem;
    gap: 1rem;
}

#servicos h1 {
    margin-bottom: 2rem;
}

#trabalhos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem 3rem;
}

.container {
    position: relative;
    width: 50%;
    width: 350px;
    transition: all .5s ease;
}

.container:hover {
    transform: translateY(-15px);
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .5s;
    background-color: rgba(0, 0, 0, .8);
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text button {
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}

.text button:hover {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.servicos {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#container {
  position: relative;
}

#servicos button {
    padding: .5rem;
}

#servicos a {
    width: 5.16rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 8rem;
    gap: 1rem;
}

#redes-sociais {
    display: flex;
    gap: 1rem;
}

footer button {
    font-family: 'Lato';
    height: 43px;
    background-color: #f1ec40;
    font-weight: bold;
    color: #121212;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: all .3s ease-in-out;
    border: 2px solid #121212;
    padding: 0 1rem;
}

footer button:hover {
    color: #f1ec40;
    background-color: #121212;
}

.fa-square-twitter:hover {
    color: #00acee;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-square-instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
  	-webkit-background-clip: text;	
  	-webkit-text-fill-color: transparent;
}

/* responsividade */

@media only screen and (max-width: 1360px), screen and (max-height: 665px) {
    #introducao h1 {
        font-size: 5rem;
    }

    #sobre {
        padding-top: 4.5rem;
    }
}

@media only screen and (max-width: 1170px) {
    #introducao h1 {
        font-size: 4rem;
    }

    #trabalhos {
        grid-template-columns: 1fr 1fr;
    }

    #sobre-imagem {
        display: none;
    }

    #sobre-info {
        padding: 4rem 4rem 4rem 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    #introducao h1 {
        font-size: 3rem;
    }

    #contato h1 {
        font-size: 1.500rem;
    }

    #contato span {
        font-size: .750rem;
    }

    #endereco span {
        font-size: .750rem;
    }

    #inscrever span {
        font-size: .750rem;
    }

    #inscrever input {
        border: 2px solid black;
        font-family: 'Lato';
        padding: .150rem;
        font-size: .750rem;
    }

    #botao-inscrever #email {
        width: 12rem;
    }
}

/* .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
} */

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
